@charset "UTF-8"; 

html {
    font-size: 100%;
}
body {
    color: #383e45;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color:#000;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    padding-right: 40px;
}

span {
    color:#00BCD4
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    margin: 0 auto;
}

.icon {
    display: flex;
    justify-content: center;
}

.icon img {
    padding-right: 20px;
}


.content {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
}

.site-title {
    text-align: center;
}

#work ul {
    display: flex;
}

#work a {
    padding: 10px;
    background: #cbcbcb;
}

#footer {
    text-align: center;
}

#footer p {padding: 30px;margin: 100px 0 0 0;}